/* 
   .chart-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  } 

  .h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
  }  */
/* 
  .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 16px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
} */
 /* .spinner {
  border: 8px solid #f3f3f3;       
  border-top: 8px solid #3498db;  
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 50px auto; 
} */


.demo-chart {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  /* overflow: hidden !important;
  border-radius: 0 !important;
  box-shadow: none !important; */
}
/* 
.echarts {
  overflow: hidden !important;
} */
.spinner {
  display: flex;
    border: 8px solid #f3f3f3;       
  border-top: 8px solid #3498db;  
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 50px auto; 
  justify-content: center;
  align-items: center;
  
 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* @keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
} */

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* רווח בין האלמנטים */
  margin-bottom: 20px;
}